# Copier ce fichier en .env sur Render et ne JAMAIS le commit sur GitHub

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/hygia?retryWrites=true&w=majority
ADMIN_PASSWORD=ton_mot_de_passe_admin_123
PORT=3000

# Configuration PawaPay
PAWAPAY_API_TOKEN=ton_api_token_pawapay
PAWAPAY_ENV=sandbox  # 'sandbox' pour tests, 'production' pour live
BACKEND_URL=https://ton-backend.onrender.com
FRONTEND_URL=https://ton-site.github.io
